$navbar-default-bg = #2a83c0
$navbar-default-link-color = white
$navbar-default-link-hover-color = #1b3f5b
$navbar-default-link-active-color = #1b3f5b
$navbar-default-link-active-bg = #2a83c0
$navbar-default-toggle-icon-bar-bg = white
$navbar-default-toggle-hover-bg = transparent
$btn-default-bg = #646464

@import 'bootstrap'
@import 'modules/*'
@import 'modules/home/*'

body
  font-family 'Cabin', sans-serif
